.btn-click{
    background-color: black;
    border: 2px solid black;
    padding: 0.3rem;
    margin: 1rem;
    margin-bottom: 3rem;
    margin-left: 3.5rem;
    width: 15rem;
    border-radius: 0.4rem;
    font-weight: bolder;
    color: white;
    /* box-shadow: 2px 2px 2px 0px rgb(245, 19, 19); */
}

